/.metadata/
/.recommenders/
SeeYouAtTheSummit/target/classes/META-INF/MANIFEST.MF
SeeYouAtTheSummit/target/classes/META-INF/MANIFEST.MF
SeeYouAtTheSummit/target/classes/META-INF/MANIFEST.MF
SeeYouAtTheSummit/target/classes/META-INF/MANIFEST.MF
SeeYouAtTheSummit/target/classes/META-INF/maven/RedWireWire/SeeYouAtTheSummit/pom.properties
